@model List<project1.Models.DTO.UserDTO>

@{
    ViewBag.Title = "Index";
}

<h2>User List</h2>
<a href="@Url.Action("Create","User")"class="btn btn-success">Create</a>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>
                    <a href="@Url.Action("Edit", "User", new { id = user.Id })" class="btn btn-success">Edit</a>
                    <a href="@Url.Action("Delete", "User", new { id = user.Id })" class="btn btn-danger"> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


